.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.chartContainer {
    height: 300px;
    width: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.subtitle {
    color: var(--text-secondary);
    font-size: 0.875rem;
    margin-bottom: 2rem;
}